@media (max-width: 990px) {
    * #nav, #map {
        max-height: 50vh;
        overflow-y: hidden;
    }
    main {}
    #anon {}
    #map {}
    #nav {
        height: 50vh;
        position: absolute;
        top: 50vh;
    }
    #header {}
    #events {}
    #page-title {}
}

* {
    color: #BDC3C7;
    max-height: 100vh;
}

main {
    margin: 0 !important;
    width: auto;
    height: inherit;
}

form {
    padding: 0 !important;
}

#map {
    position: fixed;
    z-index: $zindex-fixed;
    width: 100vw;
}

#header {
    z-index: 1;
}

#events {
    z-index: 0;
}

#page-title {
    padding-top: 60px;
    height: 150px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#facebook {
    color: #3b5998;
}

.events {
    padding-top: 20px;
    padding-bottom: 15px;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
}

input[type=search] {
    border: none;
    height: 50px;
    padding-left: 20px;
    width: 100%;
    position: relative;
}

input[type=search]:focus {
    outline: none;
}

.fixed {
    position: fixed;
    top: 0;
    
}
 ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}

 ::-webkit-scrollbar {
    display: none;
}

#nav {
    width: 100vw;
    position: absolute;
    z-index: auto;
}

#nav,
#header {
    background-color: rgba(255, 255, 255, 0.80);
}

#events,
#nav {
    overflow-y: scroll;
}

#map,
#nav {
    height: 100vh;
}

.fb-login-button {
    position: relative;
    top: -50px;
}

.event-title,
.event-time {
    color: #9B59B6;
}

.event-location,
.event-date {
    font-weight: lighter;
}

.events:hover,
.selected,
input[type=search] {
    background-color: rgba(189, 195, 199, 0.75);
}

.events:hover .event-location,
.selected .event-location,
input[type=search] {
    color: white;
}

.event-title,
.event-location,
.event-date {
    margin: 0;
}
